body {
    margin: 80px 0 0 0;

    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */

header {
    height: 80px;
    background-color: #ffffff;
    box-shadow: 0 2px 30px #565656;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.header-img {
    width: 100%;
}

.left-section, .right-section{
    display: flex;
    padding: 0 0 0 20px;
    align-items: center;
}

.company-logo {
    width: 80px;
}

.sign-in-button, .cart-button {
    height: 40px;
    width: 70px;
    font-size: 16px;
    border: none;
    color: black;
    background-color: #ffffff;
}

/* Navigation (Middle-Section) */

.barbutton {
    padding-left: 20px;
    font-size: 30px;
    line-height: 80px;
    float: left;
    cursor: pointer;
    display: none;
}

#bar {
    display: none;
}

nav ul {
    list-style-type: none;
    font-size: 18px;
    padding: 0;
    margin-top: 32px;
    display: flex;
}

nav a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium';
    color: #000000;
    display: block;
    padding: 14px;
}

nav ul li:hover {
    background-color: #c7c7c7;
    border-radius: 10px;
}

nav ul li:hover ul {
    display: block;
}

nav ul .sub-section {
    background-color: #000000;
    opacity: .8;
    flex-direction: column;
    position: absolute;
    height: fit-content;
    width: 250px;
    top: 49px;
    display: none;
}

nav ul .sub-section a {
    color: #ffffff;
}

nav ul .sub-section li:hover {
    background-color: #000000;
    padding-left: 5%;
    transition: all .5s;
}

/* Resize for Navigation Pane */

@media (max-width: 940px) {
    .barbutton {
        display: block;
    }

    .company-logo {
        padding-left: 100px;
    }
    
    nav ul {
        background-color: white; 
        position: fixed;
        width: 200px;
        margin-top: 80px;
        left: -100%;
        display: block;
        flex-direction: column;
        transition: all .5s;
    }

    nav ul li {
        display: block;
    }
    
    nav ul .sub-section{
        margin-left: 200px;
    }

    nav ul .product-nav {
        margin-top: 0;
    }

    nav ul .about-nav {
        margin-top: 97px;
    }

    nav ul .service-nav {
        margin-top: 145px;
    }

    #bar:checked ~ nav ul {
        left: 0%;
    }
}

main {
    max-width: 1300px;
    padding: 10px 40px;
    margin: 0 auto;
}

/* Footer */

footer {
	background-color: #24262b;
    box-shadow: 0 -3px 50px #ffffff;
    padding: 60px 120px 20px 120px;
    margin-top: 100px;
    line-height: 160%;
}

.footer-row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
}

.footer-col h4 {
	font-size: 18px;
	color: #ffffff;
	font-weight: bold;
	position: relative;
}

.footer-col ul {
	list-style-type: none;
    padding: 0;
}

.footer-col h4::before {
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 60px;
}

.footer-col ul li a {
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #ffffff2b;
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

.contact-info {
    color: #bbbbbb;
}

@media(max-width: 1130px) {
	.footer-row{
	  grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 880px) {
	.footer-row{
	  grid-template-columns: 1fr;
    }
}

.copy {
    margin-top: 90px;
    color: #565656;
    text-align: center;
    font-size: small;
    font-style: italic;
}

/* For All Page */

h1 {
    text-align: center;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}